@import"color.css";
@import"loader.css";

/* Media query ciblant les mobiles (jusqu’à 540px) */
/* @media screen and (max-width: 540px) {} */
/* Media query ciblant les tablettes (min de 541px et max 960px) */
/* @media screen and (min-width: 541px) and (max-width: 960px) {} */
/* Media query ciblant les ordinateur (min de 961px et max 2200px) */
/* @media screen and (min-width: 961px) and (max-width: 2200px) {} */



*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.height{
    height: 3em;
}


/* Media query ciblant les mobiles (jusqu’à 540px) */
@media screen and (max-width: 540px) {
    html{
        background-color: var(--Html_Background);
        width: 100%;
        height: 100%; 
    }
    body{
        position: relative;
        width: 100vw;
        min-height: 100vh;
        /* min-height: 100%; */
        margin: 0;
        padding-bottom: 5em; /* doit être égale au height du footer */
        background-color: var(--Body_Background_Mobile);
    }
    .logoMt{
        width: 100%;
        height: auto;
    }

}


/* Media query ciblant les tablettes (min de 541px et max 960px) */
@media screen and (min-width: 541px) and (max-width: 960px) {
    html{
        background-color: var(--Html_Background);
        width: 100%;
        height: 100%; 
    }
    body{
        position: relative;
        width: 100vw;
        min-height: 100vh;
        /* min-height: 100%; */
        margin: 0;
        padding-bottom: 5em; /* doit être égale au height du footer */
        background-color: var(--Body_Background_Tablet);
    }
    .logoMt{
        width: 50%;
        height: auto;
    }    

}



/* Media query ciblant les ordinateur (min de 961px et max 2200px) */
@media screen and (min-width: 961px) and (max-width: 2200px) {
    html{
        background-color: var(--Html_Background);
        width: 100%;
        height: 100%; 
    }
    body{
        position: relative;
        width: 100vw;
        height: 100vh;
        /* min-height: 100%; */
        margin: 0;
        padding-bottom: 5em; /* doit être égale au height du footer */        
        background-color: var(--Body_Background_Descktop);
    }
    .logoMt{
        width: 30%;
        height: auto;
    }

    
}


header{
    background-color: var(--Header_Background);
    height: auto;
}

.navbar-toggler{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
} 

/* #spinner{
    margin-top: 2em;
} */

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--Footer_Background);
    height: 5em; /* doit être égale au padding-bottom du body */

}



/* .styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: tomato;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: red;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
} */